Flask==3.0.0
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.11
Werkzeug==3.0.1
WTForms==3.1.1
email-validator==2.1.0
requests==2.31.0
Flask-Mail==0.9.1
APScheduler==3.10.4
Flask-Limiter==4.0.1
Flask-Limiter==4.0.1
